[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./main.py

# Name of the bot in-game
name = Firefly

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = "Tero#1644 and GooseFairy#6680"

# Short description of the bot
description = What an atba looks like with Gosling Utils

# Fun fact about the bot
fun_fact = "FireFly was not really made to be a pro bot, but made for their creator to be more familiar with programming challenges. They gave programming their best attempt, even if it wasn't great."

# Link to github repository
github = https://github.com/ddthj/GoslingUtils

# Programming language
language = Python
